.button-container {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: rgb(127, 144, 148);
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover {
    background-color: #026468;
}

.operator {
    background-color: rgb(0, 0, 0);
}

.operator:hover {
    background-color: rgb(196, 240, 4);
}